:root[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --header-bg-color: #3c3c29;
  --drop-down-color: #0f0f0f;
  --card-bg-color: #3c3c29;
  --card-text-color: #faff9e;
  --card-border-color: #ffffc7;
  --card-shadow-color: #000000;
  --text-color: #ffffff;
  --hover-color: #a4e6fe;
}

:root[data-theme="light"] {
  --bg-color: #ffffff;
  --header-bg-color: #ea8e8e;
  --drop-down-color: #cfcfcf;
  --card-bg-color: #3c2929;
  --card-text-color: #ff9e9e;
  --card-border-color: #ffc7c7;
  --card-shadow-color: #000000;
  --text-color: #000000;
  --hover-color: #a4e6fe;
}

:root[data-theme="system"] {
  --bg-color: #ffffff;
  --header-bg-color: #ea8e8e;
  --drop-down-color: #cfcfcf;
  --card-bg-color: #3c2929;
  --card-text-color: #ff9e9e;
  --card-border-color: #ffc7c7;
  --card-shadow-color: #000000;
  --text-color: #000000;
  --hover-color: #a4e6fe;
}

@media (prefers-color-scheme: dark){
  :root[data-theme="system"] {
  --bg-color: #1e1e1e;
  --header-bg-color: #3c3c29;
  --drop-down-color: #0f0f0f;
  --card-bg-color: #3c3c29;
  --card-text-color: #faff9e;
  --card-border-color: #ffffc7;
  --card-shadow-color: #000000;
  --text-color: #ffffff;
  --hover-color: #a4e6fe;
}
}

body {
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color:var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease;

}

a:hover {
  color: #a4e6fe;
}

.theme-btn {
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  width: 60px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.theme-btn.active {
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-style: inset;
  border-bottom-width: 1.48148px;
  border-left-color: rgb(0, 0, 0);
  border-left-style: inset;
  border-left-width: 1.48148px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: inset;
  border-right-width: 1.48148px;
  border-top-color: rgb(0, 0, 0);
  border-top-style: inset;
  border-top-width: 1.48148px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-btn:hover {
   box-shadow: inset 0 0 0 2px rgb(0, 0, 0);
}

.accordion {
  background-color: var(--bg-color);
  color: var(--text-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: var(--drop-down-color);
}

.panelHidden {
  padding: 0 18px;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: none;
  overflow:hidden;
}

.panelVisible {
  padding: 0 18px;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow:hidden;
}